CI_EMAIL_HOST=smtp.exmail.qq.com
CI_EMAIL_USERNAME=
CI_EMAIL_PASSWORD=
# CI_EMAIL_SMTP_SECURE=tls
CI_EMAIL_SMTP_SECURE=ssl
CI_EMAIL_SMTP_PORT=465
CI_EMAIL_FROM=
CI_EMAIL_FROM_NAME=
CI_EMAIL_ADDRESS_JSON=
CI_EMAIL_CC_JSON=
CI_EMAIL_BCC_JSON=
CI_EMAIL_OBJECT=
CI_EMAIL_BODY=
