PCIT_COS_V4_REGION=
PCIT_COS_V4_APP_ID=
PCIT_COS_V4_SECRET_ID=
PCIT_COS_V4_SECRET_KEY=
PCIT_COS_V4_BUCKET=
PCIT_COS_V4_PREFIX=
PCIT_COS_V4_FILE=
# PCIT_COS_V4_FILE={"host_file_1": "cos_file_name_1","host_file_2": "cos_file_name_2"}
