@media screen and (max-width: 992px) {
  .builds_list li {
    height: 250px;
  }

  .builds_list .branch {
    width: auto;
    top: 55px;
    left: 29px;
  }

  .builds_list .committer {
    width: auto;
    top:85px;
    left: 29px;
  }

  .builds_list .commit_message {
    left: 29px;
    top: 100px;
  }

  .builds_list .commit_url {
    left: -27px;
    top: 150px;
  }

  .builds_list .build_status {
    left: 150px;
    top: 25px;
  }

  .builds_list .build_time {
    left: 29px;
    top: 170px;
  }

  .builds_list .build_time_ago {
    left: 29px;
    top: 200px;
  }

  .builds_list .cancel_or_restart {
    top: 17px;
  }
}
