.builds_list {
    margin-left: -30px;
    position: relative;
    height: 100px;
    width: 99%;
    display: block;
    list-style-type: none;
    /*border: 1px solid red;*/
}

.builds_list li {
    border: 2px solid #f4f4f4;
    border-left-style: none;
    /*line-height: 100px;*/
    display: block;
    margin-bottom: 10px;
    /*position: absolute;*/
    height: 100px;
}

.builds_list a {
    display: block;
    text-decoration: none;
}

.builds_list a:hover {
    text-decoration: underline;
}

.builds_list .build_id {
    font-size: 16px;
    width: 10px;
    height: 100px;
    float: left;
    margin-left: -10px;
}

.builds_list .event_type {
    font-size: 16px;
    width: 100px;
    height: 100px;
    /*background: red;*/
    float: left;
    text-align: center;
}

.builds_list .branch {
    font-size: 16px;
    width: 50px;
    height: 50px;
    /*background: orange;*/
    float: left;
    text-align: center;
    padding-left: 35px;
}

.builds_list .committer {
    font-size: 16px;
    width: 50px;
    height: 50px;
    /*background: red;*/
    float: left;
    text-align: center;
    position: relative;
    left: -51px;
    top: 50px;
}

.builds_list .commit_message {
    font-size: 16px;
    width: 310px;
    height: 90px;
    /*background: yellow;*/
    float: left;
    margin-right: -100px;
    padding-top: 10px;
    color: #666666;
    text-align: left;
}

.builds_list .commit_url {
    width: 160px;
    height: 50px;
    /*background: green;*/
    float: left;
    position: relative;
    left: 110px;
    top: 60px;
    margin-top: -10px;
    text-align: center;
    color: #666666;
    font-size: 13px;
}

.builds_list .build_status {
    font-size: 16px;
    width: 160px;
    height: 50px;
    /*background: aqua;*/
    float: left;
    position: relative;
    left: -50px;
    top: 0;
    text-align: center;

}

.builds_list .build_time {
    font-size: 16px;
    width: 200px;
    height: 50px;
    /*background: blue;*/
    float: left;
    position: relative;
    left: 10px;
    top: 0;
    /*padding-left: 100px;*/
    color: #666666;
}

.builds_list .build_time_ago {
    font-size: 16px;
    /*background: blueviolet;*/
    width: 200px;
    height: 50px;
    float: left;
    position: relative;
    left: 330px;
    top: 0;
    /*padding-left: 100px;*/
    color: #666666;
}

.builds_list .cancel_or_restart {
    /*height: 100px;*/
    display: block;
    float: right;
    position: relative;
    top: -10px;
    right: 0;
}
