.jobs_list {
  margin-top: 50px;
  overflow: auto;
}

.job_list {
  display: block;
  border: #f4f4f4 1px solid;
  margin-bottom: 10px;
  height: 46px;
  text-align: center;
  text-decoration: none;
  color: #666666;
  position: relative;
  border-left: 5px solid white;
}

.job_list:hover {
  color: #666666;
}

.job_list .job_id {
  /*background: red;*/
  width: 100px;
  height: 24px;
  position: absolute;
  padding-top: 10px;
}

.job_list .job_os {
  /*background: orange;*/
  width: 100px;
  position: absolute;
  left: 120px;
  height: 24px;
  padding-top: 10px;
}

@media screen and (min-width: 992px) {
  .job_list .job_env_vars {
    /*background: yellow;*/
    position: absolute;
    left: 240px;
    padding-top: 10px;
    height: 24px;
  }

  .job_list .job_run_time {
    /*background: gold;*/
    width: 100px;
    position: absolute;
    right: 200px;
    height: 24px;
    padding-top: 10px;
  }

  .job_list .job_cancel_or_restart {
    /*background: rebeccapurple;*/
    position: absolute;
    right: 10px;
    top: 5px;
  }
}

@media screen and (max-width: 992px) {
  .job_list {
    height: 100px;
  }

  .job_list .job_env_vars {
    left: 30px;
    position: absolute;
    top: 60px;
  }

  .job_list .job_run_time {
    position: absolute;
    left: 400px;
    margin-top: 10px;
  }

  .job_list .job_cancel_or_restart {
    /*background: rebeccapurple;*/
    position: absolute;
    right: 10px;
    top: 30px;
  }
}

@media screen and (max-width: 767px) {
  .job_list {
    height: 46px;
  }

  .job_list .job_env_vars {
    left: 30px;
    position: absolute;
    top: 60px;
  }

  .job_list .job_run_time {
    position: absolute;
    left: 350px;
    margin-top: 10px;
  }

  .job_list .job_cancel_or_restart {
    /*background: rebeccapurple;*/
    position: absolute;
    right: 10px;
  }
}

@media screen and (max-width: 446px) {
  .job_list .job_run_time {
    position: absolute;
    left: 200px;
    margin-top: 10px;
  }

  .job_list .job_os {
    /*background: orange;*/
    left: 80px;
  }

  .job_list .job_env_vars {
    left: 30px;
    position: absolute;
    top: 60px;
    word-wrap: break-word;
    display: none;
  }

  .job_list .job_cancel_or_restart {
    /*background: rebeccapurple;*/
    top: 5px;
  }
}
