@media screen and (max-width: 992px) {
  .pull_requests_list li {
    height: 240px;
  }

  .pull_requests_list .branch {
    left: 33px;
    top: 55px;
    width: auto;
  }

  .pull_requests_list .committer {
    left: 33px;
    top: 85px;
    width: auto;
  }

  .pull_requests_list .commit_message {
    left: 8px;
    top: 100px;
  }

  .pull_requests_list .commit_id {
    left: -42px;
    top: 140px;
  }

  .pull_requests_list .build_status {
    left: 100px;
    top: 28px;
  }

  .pull_requests_list .build_time {
    left: -37px;
    top: 170px;
  }

  .pull_requests_list .build_time_ago {
    left: -37px;
    top: 200px;
  }

  .pull_requests_list .cancel_or_restart {
    top: 20px;
  }
}
