.git
.idea

vendor
composer.lock

frontend/node_modules
frontend/package-lock.json
frontend/assets/js

/public/*
!/public/demo
!/public/index.php
!/public/ico
!/public/robots.txt

.env.*
.env
.env.example

framework/storage/private_key/private.key
framework/storage/private_key/public.key

.php_cs.cache

/build
/cache

/.github
/docs
/examples
/miniprogram
/plugins
/tests
/yaml_examples
/coverage.xml
