# https://github.com/github/gitignore

.DS_Store
.idea

# composer

vendor
composer.lock

# PHP-CS-Fixer

.php_cs.cache

# python

__pycache__

# env

.env
.env.*
!.env.example

# coerage report

coverage_report
coverage.xml

/build
/cache

vim.exe.stackdump

# node

node_modules
package-lock.json
yarn.lock

# pcit

.pcit.yml.example

frontend
miniprogram

*.zip
*.tar.gz
*.tar

.phpunit.result.cache

*.phar

.psalm

/*.test.php
