<?xml version="1.0" encoding="UTF-8"?>
<phpunit>
    <testsuites>
        <testsuite name="Feature">
            <directory>tests</directory>
            <directory>src/Framework/tests</directory>
            <directory>src/Kernel/tests</directory>
            <directory>src/Log/tests</directory>
            <directory>src/Runner/tests</directory>
            <directory>src/git/GitHub/tests</directory>
            <directory>src/plugin-toolkit/tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./app</directory>
            <directory suffix=".php">./src/Framework/src</directory>
            <directory suffix=".php">./src/Kernel/src</directory>
            <directory suffix=".php">./src/Log/src</directory>
            <directory suffix=".php">./src/Runner/src</directory>
            <directory suffix=".php">./src/git/GitHub/src</directory>
            <directory suffix=".php">./src/plugin-toolkit/src</directory>
        </whitelist>
    </filter>
    <groups>
        <exclude>
            <group>dont-test</group>
        </exclude>
    </groups>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="CI_TENCENT_AI_APP_KEY" value="mock"/>
    </php>
</phpunit>
