PCIT_COS_V5_REGION=
PCIT_COS_V5_APP_ID=
PCIT_COS_V5_KEY=
PCIT_COS_V5_SECRET=
PCIT_COS_V5_BUCKET=
PCIT_COS_V5_PREFIX=
PCIT_COS_V5_FILE=
# PCIT_COS_V5_FILE={"host_file_1": "cos_file_name_1","host_file_2": "cos_file_name_2"}
