PCIT_EMAIL_HOST=smtp.exmail.qq.com
PCIT_EMAIL_USERNAME=
PCIT_EMAIL_PASSWORD=
# PCIT_EMAIL_SMTP_SECURE=tls
PCIT_EMAIL_SMTP_SECURE=ssl
PCIT_EMAIL_SMTP_PORT=465
PCIT_EMAIL_FROM=
PCIT_EMAIL_FROM_NAME=
PCIT_EMAIL_ADDRESS_JSON={"ci@ci.com":"ci"}
PCIT_EMAIL_CC_JSON={"ci@ci.com":"ci"}
PCIT_EMAIL_BCC_JSON={"ci@ci.com":"ci"}
PCIT_EMAIL_OBJECT=object
PCIT_EMAIL_BODY=body
