INPUT_EMAIL_HOST=smtp.exmail.qq.com
INPUT_EMAIL_USERNAME=
INPUT_EMAIL_PASSWORD=
# INPUT_EMAIL_SMTP_SECURE=tls
INPUT_EMAIL_SMTP_SECURE=ssl
INPUT_EMAIL_SMTP_PORT=465
INPUT_EMAIL_FROM=
INPUT_EMAIL_FROM_NAME=
INPUT_EMAIL_ADDRESS_JSON={"ci@ci.com":"ci"}
INPUT_EMAIL_CC_JSON={"ci@ci.com":"ci"}
INPUT_EMAIL_BCC_JSON={"ci@ci.com":"ci"}
INPUT_EMAIL_OBJECT=object
INPUT_EMAIL_BODY=body
