@import 'common/body.css';
@import 'common/footer.css';
@import 'cdn/google-material-icons.css';

footer {
  margin-top: 100px;
}

/*body{*/
/*overflow-y: scroll;*/
/*}*/

#userinfo {
  margin-top: 40px;
  /*float: left;*/
  /*margin-left: 15%;*/
  /*width: 250px;*/
}

#userinfo .my_account {
  color: rgb(157, 157, 157);
  margin-bottom: 0;
}

#details {
  margin-top: 30px;
  /*margin-left: 600px;*/
  /*padding-left: 100px;*/
  padding-bottom: 17px;
}

#username {
  padding-top: 10px;
  cursor: pointer;
  margin-bottom: 0;
  padding-bottom: 11px;
}

#sync {
  margin-top: 10px;
}

/*#user {*/
/*margin-left: 20%;*/
/*}*/

#user a {
  text-decoration: none;
  font-size: 20px;
  color: blue;
}

#user a:hover {
  text-decoration: none;
  font-size: 20px;
}

#orgs {
  /*float: left;*/
  /*margin-left: 15%;*/
  /*width: 350px;*/
  margin-top: 30px;
}

#orgs .organization {
  color: rgb(157, 157, 157);
}

#orgs .org_name {
  height: 50px;
  cursor: pointer;
  padding-top: 12px;
  /* background-color: #f4f9f9;  */
}

#repos {
  /*position: relative;*/
  /*margin-left: 30px;*/
  /*height: 180px;*/
  margin-top: 60px;
}

#repos .repo_item > a {
  text-decoration: none;
  line-height: 60px;
  font-size: 25px;
  color: rgb(3, 102, 214);
}

#repos .repo_full_name:hover {
  text-decoration: underline;
  color: rgb(3, 102, 214);
}

#repos .repo_item .toggle {
  margin-top: 15px;
  color: black;
}

#repos .repo_item .toggle:hover {
  text-decoration: none;
}

/*#repos .repo_full_name {*/

/*}*/

/*#repos .settings {*/
/*position: absolute;*/
/*right: 270px;*/
/*}*/

/*#repos .repo_tips {*/
/*margin-top: 20px;*/
/*}*/

/*#repos .open_or_close {*/
/*position: absolute;*/
/*right: 340px;*/
/*}*/

.progress {
  margin-top: 15px;
  width: 140px;
}

.header_img {
  width: 110px;
  height: 110px;
}

.details_usernickname {
  font-size: 40px;
}

.details_username {
  color: rgb(157, 157, 157);
}

@media screen and (min-width: 768px) {
  .orgs_hr {
    display: none;
  }
}
