footer {
  /* position: absolute; */
  /* position: relative; */
  /*margin-top: 80px;*/
  /* margin-left: 100px; */
  /*margin-right: auto;*/
  /* width: 80%; */
  /*left: 50px;*/
  line-height: 30px;
  padding-top: 85px;
}

footer a {
  text-decoration: none;
  color: #636b6f;
}

footer .about,
.help,
.legal,
.status {
  margin-bottom: 20px;
}

footer a:hover {
  text-decoration: underline;
  color: #636b6f;
}
