header {
    /*position: relative;*/
    /*border-style: solid;*/
}

header a {
    text-decoration: none;
    color: #636b6f;
}

header a:hover {
    text-decoration: underline;
}

.ico {
    margin-left: 20%;
}

.docs {
    margin-left: 6%;
}

.plugins {
    margin-left: 2%;
}

.donate {
    margin-left: 2%;
}

.username {
    margin-left: 25%;
}

footer {
    position: relative;
    margin-top: 340px;
    margin-left: 8%;
}

footer li {
    line-height: 30px;
    color: #636b6f;
    list-style-type: none;
}

footer a {
    text-decoration: none;
    color: #636b6f;
}

footer a:hover {
    text-decoration: underline;
    color: #636b6f;
}

.about {
    /*border: solid;*/
    float: left;
    margin-left: 10%;
}

.help {
    /*border: solid;*/
    float: left;
    margin-left: 5%;
}

.legal {
    /*border: solid;*/
    float: left;
    margin-left: 5%;
}

.status {
    /*border: solid;*/
    float: left;
    margin-left: 10%;
}

#repo {
    margin-left: 20%;
}

.main {
    margin-left: 20%;
}

#display {
    margin-left: 20%;
    width: 70%;
}
