body {
    margin: 0;
    padding: 0;
}

header {
    background: #f1f1f1;
}

header a {
    text-decoration: none;
    color: #636b6f;
}

header a:hover {
    text-decoration: underline;
}

#pcit_ico {
    width: 100px;
    height: 76px;
}

.ico {
    margin-left: 15%;
    font-size: 40px;
}

.docs {
    position: absolute;
    margin-left: 30px;
    font-size: 20px;
    margin-top: 20px;
}

.plugins {
    position: absolute;
    margin-left: 200px;
    font-size: 20px;
    margin-top: 20px;
}

.donate {
    position: absolute;
    margin-left: 300px;
    font-size: 20px;
    margin-top: 20px;
}

.username {
    position: absolute;
    margin-left: 825px;
    margin-top: 20px;
    font-size: 20px;
}

footer {
    position: relative;
    margin: 260px auto 10px;
    width: 70%;
    height: 200px;
    /*border: 1px solid red;*/
}

footer ul {
    display: block;
    margin: 0;
    /*border: 1px solid;*/
}

footer li {
    line-height: 30px;
    color: #636b6f;
    list-style-type: none;
    display: block;
    margin: 0;
}

footer a {
    text-decoration: none;
    color: #636b6f;
}

footer a:hover {
    text-decoration: underline;
    color: #636b6f;
}

.about {
    position: absolute;
    /*float: left;*/
    margin-left: -4%;
    width: 200px;
    left: 0;
    top: 0;
}

.help {
    position: absolute;
    /*float: left;*/
    margin-left: 200px;
    width: 100px;
}

.legal {
    /*border: solid;*/
    /*float: left;*/
    position: absolute;
    margin-left: 400px;
    width: 200px;
}

.status {
    /*border: solid;*/
    /*float: left;*/
    /*margin-left: 20%;*/
    position: absolute;
    right: 0;
    top: 0;
}

#repo {
    margin-top: 40px;
    margin-left: 15%;
}

.column {
    position: relative;
    margin-top: 40px;
    margin-left: 15%;
    width: 70%;
}

#more_options {
    position: absolute;
    /*float: right;*/
    top: 0;
    right: 0;
}

#display {
    position: relative;
    margin: 0 auto;
    width: 70%;
    /*border: 1px solid rebeccapurple;*/
}

.details {
    text-decoration: none;
    color: blue;
}

.details:hover {
    text-decoration: underline;
    color: blue;
}

body {
    overflow-y: scroll;
}

.column #current {
    margin-left: 1px;
}

.column span {
    font-size: 20px;
    margin-left: 20px;
}

#more_options {
    margin-left: 470px;
}

.builds_list {
    margin-top: 2px;
    margin-left: -40px;
    position: relative;
    height: 100px;
    width: 100%;
    display: block;
    list-style-type: none;
    /*border: 1px solid red;*/
}

.builds_list li {
    border: 1px solid;
    border-left-style: none;
    /*line-height: 100px;*/
    display: block;
    margin-bottom: 10px;
    /*position: absolute;*/
    height: 100px;
}

.builds_list a {
    display: block;
}

.builds_list .build_id {
    font-size: 16px;
    width: 10px;
    height: 100px;
    float: left;
}

.builds_list .event_type {
    font-size: 16px;
    width: 100px;
    /*height: 100px;*/
    background: red;
    float: left;
}

.builds_list .branch {
    font-size: 16px;
    width: 100px;
    /*height: 100px;*/
    background: orange;
    float: left;
}

.builds_list .commit_message {
    font-size: 16px;
    width: 200px;
    /*height: 100px;*/
    background: yellow;
    float: left;
}

.builds_list .commit_url {
    font-size: 16px;
    width: 150px;
    /*height: 100px;*/
    background: green;
    float: left;
    /*position: absolute;*/
    /*left: 500px;*/
    /*top: 60px;*/
}

.builds_list .build_status {
    font-size: 16px;
    width: 150px;
    /*height: 100px;*/
    background: aqua;
    float: left;
    /*position: absolute;*/
    /*left: 500px;*/
}

.builds_list .build_time {
    font-size: 16px;
    width: 100px;
    /*height: 100px;*/
    background: blue;
    float: left;
}

.builds_list .build_time_ago {
    font-size: 16px;
    background: blueviolet;
    /*width: 140px;*/
    /*height: 100px;*/
    float: left;
    /*position: absolute;*/
}

.builds_list .cancel_or_restart {
    /*height: 100px;*/
    float: right;
    top: 0;
    right: 0;
}

tr {
    margin-top: 10px;
}

.pull_request_list li {
    display: block;
}
