body {
    margin: 0;
    padding: 0;
}

header {
    background: #f1f1f1;
}


header a {
    text-decoration: none;
    color: #636b6f;
}

header a:hover {
    text-decoration: underline;
}

#pcit_ico {
    width: 100px;
    height: 76px;
}

.ico {
    margin-left: 15%;
    font-size: 40px;
}

.docs {
    position: absolute;
    margin-left: 30px;
    font-size: 20px;
    margin-top: 20px;
}

.plugins {
    position: absolute;
    margin-left: 200px;
    font-size: 20px;
    margin-top: 20px;
}

.donate {
    position: absolute;
    margin-left: 300px;
    font-size: 20px;
    margin-top: 20px;
}

.login {
    width: 70%;
    margin: 100px auto;
}

.login_tips {
    float: left;
    width: 60%;
    line-height: 25px;
    margin-top: 40px;
}

.login_button {
    width: 40%;
    float: right;
}

.hello-login-button {
    width: 352px;
    height: 50.4px;
    background-color: darkblue;
    font-size: 20px;
    color: white;
    text-align: left;
    text-indent: 2em;
}

.github-login-button {
    width: 352px;
    height: 50.4px;
    margin-top: 5px;
    background-color: rgb(36, 41, 46);
    font-size: 20px;
    color: white;
    text-align: left;
    text-indent: 2em;
}

.gitee-login-button {
    width: 352px;
    height: 50.4px;
    margin-top: 5px;
    background-color: rgb(254, 115, 0);
    font-size: 20px;
    color: white;
    text-align: left;
    text-indent: 2em;
}

.coding-login-button {
    width: 352px;
    height: 50.4px;
    margin-top: 5px;
    background-color: rgb(96, 108, 128);
    font-size: 20px;
    color: white;
    text-align: left;
    text-indent: 2em;
}

.gogs-login-button {
    width: 352px;
    height: 50.4px;
    margin-top: 5px;
    background-color: red;
    font-size: 20px;
    color: white;
    text-align: left;
    text-indent: 2em;
}

footer {
    position: relative;
    margin-top: 450px;
    margin-left: 12%;
    margin-right: auto;
    width: 70%;
}

footer li {
    line-height: 30px;
    color: #636b6f;
    list-style-type: none;
}

footer a {
    text-decoration: none;
    color: #636b6f;
}

footer a:hover {
    text-decoration: underline;
    color: #636b6f;
}

.about {
    /*border: solid;*/
    float: left;
    /*margin-left: 10%;*/
}

.help {
    /*border: solid;*/
    float: left;
    margin-left: 5%;
}

.legal {
    /*border: solid;*/
    float: left;
    margin-left: 5%;
}

.status {
    /*border: solid;*/
    float: left;
    margin-left: 20%;
}

