header {
    /*position: relative;*/
    /*border-style: solid;*/
}

header a {
    text-decoration: none;
    color: #636b6f;
}

header a:hover {
    text-decoration: underline;
}

#pcit_ico {
    width: 100px;
    height: 76px;
}

.ico {
    margin-left: 20%;
    font-size: 40px;
}

.docs {
    position: absolute;
    margin-left: 30px;
    font-size: 20px;
    margin-top: 20px;
}

.plugins {
    position: absolute;
    margin-left: 200px;
    font-size: 20px;
    margin-top: 20px;
}

.donate {
    position: absolute;
    margin-left: 300px;
    font-size: 20px;
    margin-top: 20px;
}

.login {
    /*border: solid;*/
    float: left;
    position: relative;
    margin-top: 10%;
    margin-left: 20%;
}

.login_tips {
    position: absolute;
    /*float: left;*/
    width: 500px;
    line-height: 25px;

}

.login_button {
    position: absolute;
    margin-top: 100px;
    margin-left: 500px;
    float: left;
}

footer {
    position: relative;
    margin-top: 450px;
    margin-left: 8%;
}

footer li {
    line-height: 30px;
    color: #636b6f;
    list-style-type: none;
}

footer a {
    text-decoration: none;
    color: #636b6f;
}

footer a:hover {
    text-decoration: underline;
    color: #636b6f;
}

.about {
    /*border: solid;*/
    float: left;
    margin-left: 10%;
}

.help {
    /*border: solid;*/
    float: left;
    margin-left: 5%;
}

.legal {
    /*border: solid;*/
    float: left;
    margin-left: 5%;
}

.status {
    /*border: solid;*/
    float: left;
    margin-left: 10%;
}
