header {
    /*position: relative;*/
    /*border-style: solid;*/
}

header a {
    text-decoration: none;
    color: #636b6f;
}

header a:hover {
    text-decoration: underline;
}

#pcit_ico {
    width: 100px;
    height: 76px;
}

.ico {
    margin-left: 20%;
    font-size: 40px;
}

.docs {
    position: absolute;
    margin-left: 30px;
    font-size: 20px;
    margin-top: 20px;
}

.plugins {
    position: absolute;
    margin-left: 200px;
    font-size: 20px;
    margin-top: 20px;
}

.donate {
    position: absolute;
    margin-left: 300px;
    font-size: 20px;
    margin-top: 20px;
}

.username {
    position: absolute;
    margin-left: 600px;
    margin-top: 20px;
    font-size: 20px;
}

footer {
    margin-top: 220px;
    margin-left: 8%;
}

footer li {
    line-height: 30px;
    color: #636b6f;
    list-style-type: none;
}

footer a {
    text-decoration: none;
    color: #636b6f;
}

footer a:hover {
    text-decoration: underline;
    color: #636b6f;
}

.about {
    /*border: solid;*/
    float: left;
    margin-left: 10%;
}

.help {
    /*border: solid;*/
    float: left;
    margin-left: 5%;
}

.legal {
    /*border: solid;*/
    float: left;
    margin-left: 5%;
}

.status {
    /*border: solid;*/
    float: left;
    margin-left: 10%;
}

#userinfo {
    float: left;
    margin-left: 20%;
    width: 250px;
}

#userinfo .my_account {
    color: rgb(157,157,157);
}

#details {
    margin-left: 600px;
    padding-left: 100px;
}

#user {
    margin-left: 20%;
}

#user a {
    text-decoration: none;
    font-size: 20px;
    color: blue;
}

#user a:hover {
    text-decoration: underline;
}

#orgs {
    float: left;
    margin-left: 20%;
    width: 250px;
}

#orgs .organization {
    color: rgb(157,157,157);
}

#repos {
    /*position: relative;*/
    margin-left: 50px;
    height: 180px;
}

#repos > a {
    text-decoration: none;
    line-height: 50px;
    color: #aaaaaa;
    font-size: 30px;
}

#repos a:hover {
    text-decoration: underline;
    line-height: 20px;
    color: blue;
}

body {
    overflow-y: scroll;
}
