/* 指定名为"myFirstFont"的字体，并指定在哪里可以找到它的URL：*/

@font-face {
    font-family: myFirstFont;
    src: url('Sansation_Light.ttf'),
    url('Sansation_Light.eot'); /* IE9 */
}

/*使一个div元素逐渐移动200像素：*/

@keyframes mymove {
    from {
        top: 0px;
    }
    to {
        top: 200px;
    }
}

@-webkit-keyframes mymove /* Safari and Chrome */
{
    from {
        top: 0px;
    }
    to {
        top: 200px;
    }
}
