body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', serif;
}

#pcit_ico {
  margin-top: -10px;
  width: 70px;
  height: 56px;
}

.ico {
  margin-left: 15%;
  font-size: 40px;
}

.docs {
  position: absolute;
  margin-left: 30px;
  font-size: 20px;
  margin-top: 20px;
  color: #ffffff;
}

.plugins {
  position: absolute;
  margin-left: 200px;
  font-size: 20px;
  margin-top: 20px;
  color: #ffffff;
}

.donate {
  position: absolute;
  margin-left: 300px;
  font-size: 20px;
  margin-top: 20px;
  color: #ffffff;
}

.login {
  /*width: 80%;*/
  margin: 110px auto 0;
  /*height: 300px;*/
}

@media screen and (min-width: 768px) {
  .login_tips {
    /*float: left;*/
    /*width: 60%;*/
    /*line-height: 25px;*/
    padding-top: 50px;
  }
}

.login_button {
  /*width: 40%;*/
  /*float: right;*/
  padding-top: 10px;
}

.hello-login-button {
  width: 370px;
  height: 50.4px;
  background-color: darkblue;
  font-size: 20px;
  color: white;
  text-align: left;
  text-indent: 2em;
  cursor: pointer;
}

.github-login-button {
  width: 370px;
  height: 50.4px;
  margin-top: 5px;
  background-color: rgb(36, 41, 46);
  font-size: 20px;
  color: white;
  text-align: left;
  text-indent: 2em;
  cursor: pointer;
}

.gitee-login-button {
  width: 370px;
  height: 50.4px;
  margin-top: 5px;
  background-color: rgb(254, 115, 0);
  font-size: 20px;
  color: white;
  text-align: left;
  text-indent: 2em;
  cursor: pointer;
}

.coding-login-button {
  width: 370px;
  height: 50.4px;
  margin-top: 5px;
  background-color: rgb(96, 108, 128);
  font-size: 20px;
  color: white;
  text-align: left;
  text-indent: 2em;
  cursor: pointer;
}

.gogs-login-button {
  width: 370px;
  height: 50.4px;
  margin-top: 5px;
  background-color: red;
  font-size: 20px;
  color: white;
  text-align: left;
  text-indent: 2em;
  cursor: pointer;
}

footer {
  /*position: absolute;*/
  position: relative;
  /*margin-top: 80px;*/
  /*margin-left: 100px;*/
  /*margin-right: auto;*/
  width: 70%;
  /*left: 50px;*/
  line-height: 30px;
  padding-top: 85px;
}

footer a {
  text-decoration: none;
  color: #636b6f;
}

footer .about,
.help,
.legal,
.status {
  margin-bottom: 20px;
}

footer a:hover {
  text-decoration: underline;
  color: #636b6f;
}
