@import "common/body.css";
@import "common/header.css";
@import "common/footer.css";

footer{
  margin-top: 100px;
}

body{
    overflow-y: scroll;
}

#userinfo {
    margin-top: 20px;
    float: left;
    margin-left: 15%;
    width: 250px;
}

#userinfo .my_account {
    color: rgb(157, 157, 157);
}

#details {
    margin-top: 20px;
    margin-left: 600px;
    padding-left: 100px;
}

#user {
    margin-left: 20%;
}

#user a {
    text-decoration: none;
    font-size: 20px;
    color: blue;
}

#user a:hover {
    text-decoration: none;
    font-size: 20px;
}

#orgs {
    float: left;
    margin-left: 15%;
    width: 350px;
}

#orgs .organization {
    color: rgb(157, 157, 157);
}

#repos {
    /*position: relative;*/
    /*margin-left: 30px;*/
    height: 180px;
    margin-top: -10px;
}

#repos .repo_item > a {
    text-decoration: none;
    line-height: 60px;
    font-size: 25px;
    color: rgb(3,102,214);
}

#repos .repo_item a:hover {
    text-decoration: underline;
    color: rgb(3,102,214);
}

#repos .repo_item {
    position: relative;
    margin-left: 400px;
}

#repos .repo_full_name {

}

#repos .settings {
    position: absolute;
    right: 270px;
}

#repos .repo_tips {
    margin-top: 20px;
}

#repos .open_or_close {
    position: absolute;
    right: 340px;
}

.progress {
    margin-top: 15px;
    width: 140px;
}
