#repos_display {
    margin-top: 70px;
}

.repo_item {
    border: 1px solid #eeeeee;
    border-left: 8px solid #f1f1f1;
    margin-top: 20px;
    font-size: 20px;
    min-height: 80px;
    padding-top: 15px;
}

.repo_item .title {
    color: #9d9d9d;
    font-size: 12px;
}

.repo_item.queued {
    border-left: 8px solid #edde3f;
}

.repo_item.success {
    border-left: 8px solid #39aa56;
}

.repo_item.errored {
    border-left: 8px solid #db4545;
}

/*message*/

.repo_item .message.queued {
    color: #edde3f;
}

.repo_item .message.success {
    color: #39aa56;
}

.repo_item .message.errored {
    color: #db4545;
}

#username_display {
    margin-top: 30px;
    font-size: 50px;
}

#username_display .username_img {
    width: 100px;
    height: 100px;
}

@media screen and (min-width: 768px) {

    #username_display .username_text {
        margin-left: 30px;
    }
}
