S3_ENDPOINT=
S3_ACCESSKEYID=
S3_SECRETACCESSKEY=
S3_BUCKET=pcit
S3_REGION=us-east-1
S3_FILE=
# S3_FILE={"dir":"s3_file_name"}
S3_CACHE=
# S3_CACHE=["dir","dir2"]
S3_CACHE_PREFIX=github_rid_branch
# cache dafault is upload
S3_CACHE_DOWNLOAD=false
